---
import { Image } from 'astro:assets';

export interface Props {
    name: string;
    yearRange: string;
    description: string;
    href: string | null;
}

const { name, description, href, yearRange} = Astro.props;
---

<article 
    class="bg-bodyAccent p-3 rounded-md flex flex-col gap-1 transform hover:-translate-y-1 transition-all duration-300 ease-in-out hover:shadow-lg"
    itemscope 
    itemtype="https://schema.org/Project"
>
    <div class="relative">
        <span 
            class={`absolute top-2 right-2 px-2 py-1 rounded-full text-white text-sm bg-green-500`}
        >
            {yearRange}
        </span>
    </div>

    <h2 
        class="text-xl font-bold mt-2" 
        itemprop="name"
    >
        {name}
    </h2>

    <p 
        class="text-gray-300 flex-grow"
        itemprop="description"
        set:html={description}
    />

    {href && (
        <a 
            href={href}
            class="text-primary mt-4 inline-flex items-center group hover:underline"
            target="_blank"
            rel="noopener noreferrer"
            itemprop="url"
        >
            Open workplace website
            <svg 
                class="w-4 h-4 ml-2 transform group-hover:translate-x-1 transition-transform" 
                fill="none" 
                stroke="currentColor" 
                viewBox="0 0 24 24"
            >
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M9 5l7 7-7 7"
                />
            </svg>
        </a>
    )}
</article>