---
export interface props {
    "image":string,
    "name": string,
    "description": string,
    "href": string,
}

const { name, description, href, image} = Astro.props;

---

<div class="bg-bodyAccent p-3 rounded-md flex flex-col gap-1">
    <img class="rounded-md w-full h-[40vh] object-cover" src={`./assets/portfolio/${image}`} />
    <h2 class="text-xl font-bold">{name}</h2>
    <p set:html={description}></p>
    <a href={href} class="text-primary mt-auto">{href != null ? "See more": ""}</a>
</div>