---
const today = new Date();
---

<footer class="sticky top-[100vh] px-8 py-4 text-center md:text-right ">
	<span class="md:float-right sm:place-content-center">Want to fork a version of this portfolio? See the <a href="https://github.com/Julius-Bendt/portfolio/" target="_blank" class="text-primary" href="#">repository on Github</a></span>
</footer>
