---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="bg-nav shadow py-4">

      <div class="flex gap-4 px-10">
		<HeaderLink href="/">Home</HeaderLink>
      </div>

  </nav>
</header>
