---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

// Check if the current path matches the link or is a child of the link path
const isActive = href === pathname || 
                href === pathname.replace(/\/$/, "") || 
                (href !== '/' && pathname.startsWith(href as string));
---

<a
  href={href}
  class:list={[className, { "text-primary font-bold": isActive }]}
  {...props}
>
  <slot />
</a>